@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MigatsuFont';
  src:
       url('assets/fonts/Migatsu-Medium.otf') format('otf'),
       url('assets/fonts/Migatsu-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'BunlayFont';
  src:
       url('assets/fonts/Bunlay.otf') format('otf');
}

@font-face {
  font-family: 'AuromiyaFont';
  src:
       url('assets/fonts/Auromiya.ttf') format('truetype');
}

@font-face {
  font-family: 'PaytoneOneFont';
  src:
       url('assets/fonts/PaytoneOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoFont';
  src:
       url('assets/fonts/Lato/Lato-Light.ttf') format('truetype'),
       url('assets/fonts/Lato/Lato-LightItalic.ttf') format('truetype')
       url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsFont';
  src:
       url('assets/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype')
       url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
       url('assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}


body {
  font-family: PoppinsFont, sans-serif;
}

.hero-section {
  background-image: url('/assets/background_2.png');
  background-size: cover; 
  background-position: center;
  font-family: PoppinsFont, Font;
}
.card {
  background-image: url
  ('/assets/client.jpg');
  background-size: cover; 
  background-position: center;
  opacity: 80;
}

.app-name {
  font-family: PoppinsFont, Font;
}

.custom-subtitle {
  font-family: 'PoppinsFont', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

